:root {
  --primary: #f5dd90;
  --secondary: #324376;
  --tertiary: #f76c5e;
  --tertiary2: #586ba4;
  --tertiary3: white;
  /* #f68e5f - orange */
}

body {
  background-color: var(--primary);
  font-family: Helvetica, Arial, sans-serif;
}

#welcome {
  transform: translate(0, 20vh);
  color: var(--tertiary3);
  text-align: center;
  text-transform: none;
  background-color: var(--secondary);
  border: 2px var(--secondary) solid;
  width: 50vw;
  margin: auto;
}

#welcome1 {
  font-size: 3em;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}

#welcome2 {
  font-size: 1.2em;
  animation: fadeIn2 ease 6s;
  -webkit-animation: fadeIn2 ease 6s;
  padding: 0 5vw;
}

#welcome3 {
  font-size: 1.2em;
  animation: fadeIn3 ease 9s;
  -webkit-animation: fadeIn3 ease 9s;
  padding: 20px 5vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#enterButton button {
  /* positioning stuff; width, position:absolute and left center the element horizontally */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* font adjustments and color settings, font family must be set separately */
  font-size: 2em;
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: var(--tertiary2);
  border: none;
  box-shadow: 5px 5px white;
  /* adds padding around the text inside the button, 10px is arbitrary but looks nice */
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  /* animation */
  animation: fadeIn4 ease 12s;
  -webkit-animation: fadeIn4 ease 12s;
}

#enterButton a {
  text-decoration: none;
  color: white;
}

#enterButton :hover {
  background-color: var(--tertiary);
}

#video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*center play button */
.playButton {
  z-index: 2;
  font-size: 4em;
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: var(--tertiary2);
  border: none;
  box-shadow: 5px 5px white;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 50vh;
  margin-bottom: 40px;
  transform: translate(0, -50%);
  color: white;
}
/*the div in which the button resides */
.buttonDiv {
  margin: auto;
}
.buttonDiv :hover {
  background-color: var(--tertiary);
}
/*flex box for the question and choices */
.choiceDiv {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  transform: translate(0, 88vh);
}
#choiceDivID {
  display: none;
}
.choiceDiv button {
  margin: 10px;
  z-index: 2;
  font-size: 2em;
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: var(--tertiary2);
  border: none;
  padding: 10px;
  display: block;
  color: white;
}
.choiceDiv label {
  margin: 10px;
  z-index: 2;
  font-size: 2em;
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: var(--tertiary2);
  border: none;
  padding: 10px;
  display: block;
  color: white;
}
/*div for the choices only */
.choiceButton {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.choiceButton :hover {
  background-color: var(--tertiary);
}
